---
import { Icon } from '@astrojs/starlight/components';
---

<div class="hero">
	<h1>Snowfall</h1>
</div>

<style>
.hero {
	display: flex;
	justify-content: center;
	padding-top: 2.5rem;
	padding-bottom: 4.5rem;
}

.hero h1 {
	font-weight: bold !important;
	font-size: 4rem !important;
}
</style>
